@font-face {
    font-family: 'Ringbear';
    src: url('../fonts/10755.otf');
}

body {
    background-color: #000000;
}

div {
    width: 800px;
    height: 600px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}